
// Colors
$color-primary: '#8BB9D6';
$color-secondary: '#4E7592';
$color-accent: '#213253';
$color-formElBg: '#f0f6fc';
$color-grayText: '#777777';
$color-grayBorder: '#E0E0E0';
$color-grayBg: '#F2F2F2';
$color-grayIcon: '#7b7b7b';
$color-red: '#DF2935';
$color-tagDefault: '#878787';
$color-tagPink: '#FCC0C0';
$color-navBg: '#4E7592';
$color-working: '#09BC8A';
$color-breaking: '#F17105';
